[submodule "configs/programs/WM/dwl/source"]
	path = configs/programs/WM/dwl/source
	url = https://github.com/ingenarel/dwl.git
[submodule "configs/programs/emulators/qemu/qemu-launcher"]
	path = configs/programs/emulators/qemu/qemu-launcher
	url = https://github.com/ingenarel/qemu-launcher
[submodule "configs/programs/neovim/myPlugins/cyberpunk-neon.nvim"]
	path = configs/programs/neovim/myPlugins/cyberpunk-neon.nvim
	url = https://github.com/ingenarel/cyberpunk-neon.nvim
[submodule "configs/programs/neovim/myPlugins/focus-mode.nvim"]
	path = configs/programs/neovim/myPlugins/focus-mode.nvim
	url = https://github.com/ingenarel/focus-mode.nvim
[submodule "configs/programs/neovim/myPlugins/luix.nvim"]
	path = configs/programs/neovim/myPlugins/luix.nvim
	url = https://github.com/ingenarel/luix.nvim
[submodule "configs/programs/neovim/myPlugins/luse.nvim"]
	path = configs/programs/neovim/myPlugins/luse.nvim
	url = https://github.com/ingenarel/luse.nvim
[submodule "configs/programs/neovim/myPlugins/metapack.nvim"]
	path = configs/programs/neovim/myPlugins/metapack.nvim
	url = https://github.com/ingenarel/metapack.nvim
[submodule "configs/programs/neovim/myPlugins/nvim-pairMan"]
	path = configs/programs/neovim/myPlugins/nvim-pairMan
	url = https://github.com/ingenarel/nvim-pairMan
[submodule "configs/programs/neovim/myPlugins/randomtips-nvim"]
	path = configs/programs/neovim/myPlugins/randomtips-nvim
	url = https://github.com/ingenarel/randomtips-nvim
[submodule "configs/programs/neovim/myPlugins/simple-runner.nvim"]
	path = configs/programs/neovim/myPlugins/simple-runner.nvim
	url = https://github.com/ingenarel/simple-runner.nvim
[submodule "configs/programs/neovim/myPlugins/smart-term.nvim"]
	path = configs/programs/neovim/myPlugins/smart-term.nvim
	url = https://github.com/ingenarel/smart-term.nvim
[submodule "configs/programs/neovim/myPlugins/zoxide.nvim"]
	path = configs/programs/neovim/myPlugins/zoxide.nvim
	url = https://github.com/ingenarel/zoxide.nvim
[submodule "scripts/gentoo-dev-scripts"]
	path = scripts/gentoo-dev-scripts
	url = https://github.com/ingenarel/gentoo-dev-scripts
[submodule "configs/programs/neovim/myPlugins/flex-stats.nvim"]
	path = configs/programs/neovim/myPlugins/flex-stats.nvim
	url = https://github.com/ingenarel/flex-stats.nvim
[submodule "configs/programs/zsh/own-plugins/zsh-better-tabs"]
	path = configs/programs/zsh/own-plugins/zsh-better-tabs
	url = https://github.com/ingenarel/zsh-better-tabs.git
[submodule "scripts/email-grabicon"]
	path = scripts/email-grabicon
	url = https://github.com/ingenarel/email-grabicon
