"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [8, 13, 21]
show_hidden = true
scrolloff = 32

[plugin]
prepend_previewers = [
  { mime = "audio/*", run = "exifaudio" },
  { mime = "*.ebuild", run = "code" },
  { mime = "application/gentoo.pkgmetadata+xml", run = "code" },
  { mime = "*Manifest", run = "code" },
  { mime = "", run = "code" },
  { url = "*", run = "file-extra-metadata" },
]
append_spotters = [
  { url = "*", run = "file-extra-metadata" },
]
