"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [8, 13, 21]
show_hidden = true
scrolloff = 32

[plugin]
prepend_preloaders = [
  { mime = "{audio,video,image}/*", run = "mediainfo" },
  { mime = "application/subrip", run = "mediainfo" },
  { mime = "application/postscript", run = "mediainfo" },
]
prepend_previewers = [
  { mime = "*.ebuild", run = "code" },
  { mime = "application/gentoo.pkgmetadata+xml", run = "code" },
  { mime = "*Manifest", run = "code" },
  { mime = "{audio,video,image}/*", run = "mediainfo" },
  { mime = "application/subrip", run = "mediainfo" },
  { mime = "application/postscript", run = "mediainfo" },
  { mime = "application/octet-stream", run = 'faster-piper -- tinyxxd -R always -- "$1"' },
  { mime = "application/pie-executable", run = 'faster-piper -- tinyxxd -R always -- "$1"' },
  { url = "*.md", run = 'faster-piper -- CLICOLOR_FORCE=1 glow -w=$w -s=dracula -- "$1"' },
]
append_spotters = [
  { url = "*", run = "file-extra-metadata" },
]
